/* HeaderBar */
.header .title-lg { margin-bottom: 4px; }

/* FooterMenu */
.menu-footer { padding-left: 20px; padding-right: 20px; padding-bottom: 16px; padding-top: 8px; flex-direction: row; justify-content: space-between; display:flex; }
